<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>Owen Andrews{{ if not .IsHome }} — {{ .Title }}{{ end }}</title>
		<meta name="description" content="Hobart based software developer, video editor and photography nerd.">
		
		<link rel="stylesheet" href="/fontello/css/fontello.css">

		{{ $style := resources.Get "main.scss" | toCSS | resources.PostCSS | minify | fingerprint }} 
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	</head>
	<body class="font-sans leading-normal text-grey-darker min-h-screen">
        {{ block "main" . }}{{ end }}
    </body>
</html>