<nav class="flex justify-between py-8">
    <a href="/" class="hover:opacity-75">
        <img class="w-16 block" src="/logo.svg">
    </a>
    <ul class="flex list-reset">
        <li class="self-center mr-2">
            <a href="/posts" class="no-underline text-grey-dark border-b border-dotted border-grey-dark hover:text-grey-darkest hover:border-grey-darkest mx-1 pb-1">Blog</a>
        </li>
        <li class="self-center mr-2">
            <a href="/about" class="no-underline text-grey-dark border-b border-dotted border-grey-dark hover:text-grey-darkest hover:border-grey-darkest mx-1 pb-1">About</a>
        </li>
        <li class="self-center">
            <a href="/contact" class="no-underline text-grey-dark border-b border-dotted border-grey-dark hover:text-grey-darkest hover:border-grey-darkest mx-1 pb-1">Contact</a>
        </li>
    </ul>
</nav>