{{ define "main" }}
<main class="container mx-auto">
    <section class="flex flex-col justify-center items-center text-center min-h-screen py-12 ">
        <img class="w-24 mb-4" src="/logo.svg">
        <h1 class="text-2xl font-semibold mb-1">Owen Andrews</h1>
        <h2 class="text-grey-dark text-base font-normal mb-4">Hobart, Australia</h2>
        <!--<nav class="mb-4">
            <a href="/posts" class="no-underline text-grey-dark border-b border-dotted border-grey-dark hover:text-grey-darkest hover:border-grey-darkest mx-1 pb-1">Blog</a>
            <a href="#" class="no-underline text-grey-dark border-b border-dotted border-grey-dark hover:text-grey-darkest hover:border-grey-darkest mx-1 pb-1">About</a>
            <a href="#" class="no-underline text-grey-dark border-b border-dotted border-grey-dark hover:text-grey-darkest hover:border-grey-darkest mx-1 pb-1">Contact</a>
        </nav>-->
        <div>
            <a href="https://instagram.com/owenandrews" target="_blank" class="text-2xl no-underline text-grey-dark hover:text-grey-darkest mx-1"><i class="icon-instagram f4 pr1"></i></a>
            <a href="https://twitter.com/owenandrews_" target="_blank" class="text-2xl no-underline text-grey-dark hover:text-grey-darkest mx-1"><i class="icon-twitter f4 pr1"></i></a>
            <a href="https://github.com/owenandrews" target="_blank" class="text-2xl no-underline text-grey-dark hover:text-grey-darkest mx-1"><i class="icon-github f4 pr1"></i></a>
        </div>
    </section>
</main>
{{ end }}